.button {
  height: 30px;
  width: 36px;
  border: none;
  padding: 0;
  background: var(--titlebarButtonsBackground);
  color: var(--titlebarButtonsForeground);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button:hover {
  background: var(--titlebarButtonsHoverBackground);
  color: var(--titlebarButtonsHoverForeground);
}

.iconContainer {
  line-height: 30px !important;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
}
