.button {
  height: 30px;
  width: 36px;
  border: none;
  padding: 0;
  background: var(--titlebarButtonsBackground);
  color: var(--titlebarButtonsForeground);
}

.button:hover {
  background: var(--titlebarButtonsHoverBackground);
  color: var(--titlebarButtonsHoverForeground);
}

.icon {
  text-align: center;
  font-size: 15px !important;
  line-height: 30px !important;
}
