.resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 201;
}

.row {
  cursor: ns-resize;
}

.col {
  cursor: ew-resize;
}

.resizer.row {
  height: 4px;
  left: 0;
  border-bottom: 1px solid var(--resizerColor);
}

.resizer.col {
  width: 4px;
  top: 32px;
  border-right: 1px solid var(--resizerColor);
}

.hider {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
}
