.button {
  height: 30px;
  width: 46px;
  border: none;
  padding: 0;
  background: var(--titlebarButtonsBackground);
}

.button.closeButton:hover {
  background: red;
}

.button:hover {
  background: var(--titlebarButtonsHoverBackground);
}

.button:hover .icon {
  background: var(--titlebarButtonsHoverForeground);
}

.button:hover .icon.close {
  background: white;
}

.icon {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  background: var(--titlebarButtonsForeground);
}

.close {
  mask: url("../../../../../../../common/assets/icons/close.svg") no-repeat 50% 50%;
  -webkit-mask: url("../../../../../../../common/assets/icons/close.svg") no-repeat 50% 50%;
  mask-size: 10px;
  -webkit-mask-size: 10px;
}

.minimize {
  mask: url("../../../../../../../common/assets/icons/minimize.svg") no-repeat 50% 50%;
  -webkit-mask: url("../../../../../../../common/assets/icons/minimize.svg") no-repeat 50% 50%;
  mask-size: 10px;
  -webkit-mask-size: 10px;
}

.restore {
  mask: url("../../../../../../../common/assets/icons/restore.svg") no-repeat 50% 50%;
  -webkit-mask: url("../../../../../../../common/assets/icons/restore.svg") no-repeat 50% 50%;
  mask-size: 10px;
  -webkit-mask-size: 10px;
}

.maximize {
  mask: url("../../../../../../../common/assets/icons/maximize.svg") no-repeat 50% 50%;
  -webkit-mask: url("../../../../../../../common/assets/icons/maximize.svg") no-repeat 50% 50%;
  mask-size: 10px;
  -webkit-mask-size: 10px;
}
