<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; script-src 'self' file: telurio-ext:; img-src 'self' blob: data: file: https: telurio-ext:; style-src 'self' blob: file: telurio-ext:; font-src 'self' data: file: telurio-ext:; frame-src telurio-ext:;"
    />
    <title>Telurio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="app-root" class="app-root"></div>
    <!--index.ts-->
    <script src="bundle.compiled.js"></script>
  </body>
</html>
