* :global {
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

body :global,
html :global {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

body :global {
  border: 1px solid blue;
}

.root {
  height: calc(100vh - 2px);
  width: calc(100vw - 2px);
  display: flex;
  flex-direction: column;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar :global {
  width: 10px; /* 1px wider than Lion. */
  height: 10px;
  /* This is more usable for users trying to click it. */
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover :global {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical :global {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active :global {
  background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
