.scrollElement {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scrollX {
  overflow: scroll hidden;
}

.scrollY {
  overflow: hidden scroll;
}

.scrollXY {
  overflow: scroll;
}

.container {
  position: relative;
  height: 100%;
}

.container::-webkit-scrollbar {
  display: none;
}

.container ::-webkit-scrollbar {
  display: none;
}

.horizontalScrollTrack {
  opacity: 0;
  visibility: hidden;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;

  height: 8px;
  transition: visibility 1ms 1s, opacity 1s 0s;
}

.horizontalScrollThumb {
  visibility: inherit;
  position: absolute;

  background: var(--scrollbarThumbBackground);

  height: 8px;
}

.verticalScrollTrack {
  opacity: 0;
  visibility: hidden;
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  background: transparent;

  width: 8px;
  transition: visibility 1ms 1s, opacity 1s 0s;
}

.verticalScrollThumb {
  visibility: inherit;
  position: absolute;

  background: var(--scrollbarThumbBackground);

  width: 8px;
}

.scrollElement:hover .horizontalScrollTrack,
.scrollElement:hover .verticalScrollTrack {
  opacity: 1;
  visibility: visible;

  transition: none;
}

.horizontalScrollThumb:hover,
.verticalScrollThumb:hover {
  background: var(--scrollbarThumbHoverBackground);
}

.horizontalScrollTrack.scrolling .horizontalScrollThumb,
.verticalScrollTrack.scrolling .verticalScrollThumb {
  background: var(--scrollbarThumbScrollingBackground);
}

.notVisible {
  visibility: hidden !important;
}

.scrolling {
  visibility: visible !important;
  opacity: 1;
}
