.dragOver {
  background: var(--panelDragOverOverlay);
}

.tabs {
  height: 32px;
  min-width: 100%;
  display: flex;
  padding-left: 8px;
  min-height: 32px;
}

.dropArea {
  height: 32px;
  width: 100%;
  overflow-x: auto;
  flex: 1;
  min-width: 32px;
}
