.dragOver {
  background: rgba(0, 0, 0, 0.5);
}

.tabs {
  height: 32px;
  min-width: 100%;
  display: flex;
  /*background: rgba(0, 0, 0, 0.05);*/
  padding-left: 8px;
  min-height: 32px;
}

.dropArea {
  height: 32px;
  width: 100%;
  overflow-x: auto;
  flex: 1;
  min-width: 32px;
}
